#container
{
    height: 100%;
    width: 20%;
    justify-content: flex-start;
}
#map
{
    height: 100%;
    width: 70%;
    justify-content: flex-end;
}
.contain
{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 800px)
{
    .contain
    {
        display: flex;
        flex-direction: column;
    }
    #container
    {
        height: 300%;
        width: 100%;
        justify-content: flex-start;
    }
    #map
    {
        height: 70%;
        width: 100%;
        justify-content: flex-end;
    }
}