#container
{
    height: 100%;
    width: 20%;
    justify-content: flex-start;
}
#map
{
    height: 100%;
    width: 70%;
    justify-content: flex-end;
}
.contain
{
    display: flex;
    flex-direction: row;
}